{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col m12">
            <div class="col s12 m12 l6">
                <div class="card">
                    <div class="card-image">
                        <img src="/{{ event.photo.url }}" id="eventDetailPhoto">
                        <span class="card-title"><strong>{{ event.title }}</strong></span>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l6">
                <div class="card">
                    <div class="card-content">
                            {% if event.host == request.user %}
                                <div class="right-align">
                                    <form action="{% url 'events:event-delete' event.id %}" method="post">
                                        <a href="{% url 'events:event-edit' event.id %}" class="btn">
                                            <i class="material-icons prefix">mode_edit</i>
                                        </a>
                                        {% csrf_token %}
                                        <input type="submit" value="Delete" class="btn" id="eventDeleteBtn">
                                    </form>
                                </div>
                            {% endif %}
                            <p><i>{{ event.from_ts }} - {{ event.to_ts }}</i> at <strong>location</strong></p>
                            <p class="grey-text">
                                Hosted by 
                                {% if event.host == request.user %}
                                    you
                                {% else %}
                                    <a href="{% url 'users:profile' event.host.id %}">{{ event.host }}</a>
                                {% endif %}
                            </p>
                            <br/>
                            {% if event.description %}
                                <div id="eventDetailDescription" class="grey lighten-5">
                                    <p>{{ event.description|linebreaksbr }}</p>
                                </div>
                            {% else %}
                                <p>No desription provided for this event.</p>
                            {% endif %}
                        </div>
                        <div class="card-action">
                            {% if event.tickets_url %}
                                <a href="{{ event.tickets_url }}" target="_blank">Buy tickets</a>
                            {% else %}
                                <a class="disabled">No tickets provided</a>
                            {% endif %}
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
{% endblock %}