{% extends "base.html" %}

{% block content %}
    {% load cloudinary %}

    {% if object_list %}
        <div class="row">
            <div class="col m12 s12">
                {% for event in object_list %}
                    <div class="col s12 m12 l4">
                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                {% cloudinary event.photo format="jpg" height=450 crop="fill" class="activator" %}
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4">{{ event.title }}</span>
                                <p><i>{{ event.from_ts.date }} - {{ event.to_ts.date }}</i></p>
                                <p class="grey-text">Hosted by <a href="{% url 'users:profile' event.host.id %}">{{ event.host }}</a></p>
                                <br/>
                                {% if event.description %}
                                    <p>{{ event.description|truncatechars:60 }}</p>
                                {% else %}
                                    <p>There is no description provided for this event.</p>
                                {% endif %}
                                <p><a href="{% url 'events:event-detail' event.id %}">Click to see detailed information</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ event.title }}<i class="material-icons right">close</i></span>
                                {% if event.description %}
                                    <p>{{ event.description|linebreaksbr }}</p>
                                {% else %}
                                    <p>There is no description provided for this event.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h3>There are no events yet...</h3>
    {% endif %}
{% endblock %}